button {
  font-size: 16px;
  white-space: normal;
  padding: 18px;
  line-height: 20px;
}

  button
  mat-icon {
      font-size: 28px;
      width: 34px;
      height: 34px;
  }

.mat-card 
  h5 {
      font-size: 18px;
      font-weight: 500;
  }

.order-summary {
  background: #f0d3d3;
}
  .order-summary 
  .reload-btn 
      i {
          color: #ee0000;
      }

  .order-summary 
  .reload-btn 
  .card-img 
      i {
          color: #ee0000;
      }


      .delivered-invoiced {
        background: #eee1f7;
     }
      .delivered-invoiced .reload-btn i {
        color: #920cef;
     }
      .delivered-invoiced .card-img i {
        color: #920cef;
     }
      .customer-leadger {
        background: #ffecdf;
     }
      .customer-leadger reload-btn i {
        color: #ff771d;
     }
      .customer-leadger i {
        color: #ff771d;
     }
      .overdue-outstanding {
        background: #e0e8f8;
     }
      .overdue-outstanding .reload-btn i {
        color: #312eca;
     }
      .overdue-outstanding .card-img i {
        color: #312eca;
     }
      .open-credit-limit {
        background: #e0f8e9;
     }
      .open-credit-limit .reload-btn i {
        color: #2eca6a !important;
     }
      .open-credit-limit .card-img i {
        color: #2eca6a;
     }
      .current-open-sales {
        background: #f8f8e0;
     }
      .current-open-sales .reload-btn i {
        color: #b3ca2e !important;
     }
      .current-open-sales .card-img i {
        color: #b3ca2e;
     }
      .dashboard-card {
        position: relative;
     }
      .dashboard-card .dashboard-card-title {
        font-size: 1rem;
        font-weight: 500;
        color: #333;
        text-transform: uppercase;
     }
      .dashboard-card .card-contain {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        margin-top: 25px;
     }
      .dashboard-card .card-contain .card-img i {
        text-align: center;
        font-size: 2.4rem;
        margin-right: 15px;
     }
      .dashboard-card .card-contain p {
        font-size: 2rem;
        font-weight: 500;
        color: #868a99;
     }
      .breadcrumb-margin {
        margin-bottom: 20px;
     }
      .breadcrumb-margin .breadcrumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
      .custom-hover-effect:hover {
        position: relative;
        transform: translate(0, -5px);
        transition: 500ms;
        transition-property: all 3s ease;
     }
      .custom-hover-effect::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 13px 20px -10px;
        opacity: 0;
        transition: opacity 300ms;
        border-radius: 4px;
     }
      .custom-hover-effect:hover::before {
        opacity: 1;
     }
      .reload-btn {
        position: absolute;
        top: -5px;
        right: 25px;
     }
      .cpointer {
        cursor: pointer;
     }
     