<div class="content">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-1 lg-1">
          <a class="navbar-brand col-sm-2" routerLink="/lead">Lead List</a>
        </div>
        <div class="col-sm-6 lg-6">
        </div>
        <div class="col-sm-5 lg-5">
          <button (click)="generateLead()" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: 0;">Generate Lead</button>
        </div>
      </div>
    </div>
  </div>

  <div class="content" style="margin-top: 10px;">
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>SNo</th>
            <th>Company Name</th>
            <th>Contact Person</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Created Date</th>
          </tr>

          </thead>
          <tbody>
          <tr *ngFor="let lists of lead_list">
            <th>{{lists.Sno}}</th>
            <th>{{lists.Company_name}}</th>
            <th>{{lists.Contact_Person}}</th>
            <th>{{lists.Email}}</th>
            <th>{{lists.contact}}</th>
            <th>{{lists.create_date}}</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>



