<div class="container" style="padding-top: 2px;">
    <div class="row">
        <div class="col-sm-4">
            <h1>Generate Lead</h1>
        </div>
        <!-- <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <button (click)="AddLead()" class="btn btn-success">Add Lead</button>
        </div> -->
    </div>
</div>


<div class="container" style="padding-top: 10px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Lead Generate ID</label>
                        <input type="text" name="text" class="form-control" disabled>
                    </div>
                    <div class="col-sm-3">
                        <label>Company Name</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control" required>
                    </div>
                    <div class="col-sm-3">
                        <label>Status</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Source</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Address</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>City</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>State</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Pincode</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Country</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Website URL</label>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>GSTIN</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Contact Person Name</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Conatct Person Email</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Contact Person Number</label><span style="color: red;">*</span>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <!-- <div class="col-sm-3">
                        <label>GSTIN</label>
                        <input type="text" name="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Contact Person Name</label>
                        <input type="text" name="text" class="form-control">
                    </div> -->
                </div><br><br><br><br>
                <div class="row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <button class="btn btn-danger" (click)="Back()">Back</button>&nbsp;
                        <button class="btn btn-success">Submit</button>&nbsp;
                        <button class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>