<mat-spinner *ngIf="isLoading" id="loading"></mat-spinner>

<!-- header page -->
<mat-toolbar mat-elevation-z3>
      <button type="button" mat-button (click)="drawer.toggle()">
         <img src="\assets\img\icons\menu.png" alt="menu" />  
      </button>
      <a class="navbar-brand col-sm-2" href="index.html">C R M </a>
      <span class="example-spacer"></span>

      <button style="color: #00A3E3;" [matMenuTriggerFor]="menu" color="primary" mat-button
        class="example-icon favorite-icon mr-8" aria-label="Example icon-button with heart icon">
        <mat-icon class="mr-8">account_circle </mat-icon> <span>ABCD</span>
      </button>

      <mat-menu #menu="matMenu" class="login-dropdown">
        <button mat-menu-item id="profile">
          <span class="profile-photo">
            <img src="\assets\img\profile-photo.png" alt="profile-photo">
            <br>
          </span>
          <p>Hello, ABCS</p>
        </button>
        <button mat-menu-item id="logout" (click)="logout()">
          <span>
            <img src="\assets\img\logout.png" alt="logout-icon">Logout
          </span>
        </button>
      </mat-menu>
</mat-toolbar>
<!-- header page -->

<!-- class="example-container" autosize -->

    <mat-sidenav-container>
    <mat-sidenav #drawer class="example-sidenav" opened mode="side" #snav>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="p-16">
      <router-outlet></router-outlet>
      <footer style="position: fixed; bottom: 0; width: 100%;">
        <!-- <footer> -->
        <mat-card class="footer-check">
          <p>Copyrightt &copy; 2022 All rights reserved. CRM
            <!-- <span class="footer-desc">Toll-Free Number : 1800 000 000</span> -->
          </p>
        </mat-card>
      </footer>
    </mat-sidenav-content>
  
  </mat-sidenav-container>