<mat-nav-list class="pt-0 dashboard-sidebar">
    <div class="p-0">
        <a mat-list-item  routerLink="/dashboard">
            <mat-icon class="sidenav-icon material-icons-outlined">home</mat-icon>
            Dashboard
        </a>
        <a mat-list-item  routerLink="/lead">
            <mat-icon class="sidenav-icon material-icons-outlined">home</mat-icon>
            Lead
        </a>
        <div>
            <a mat-list-item>
                <mat-icon class="sidenav-icon material-icons-outlined">home</mat-icon>
                <span>Dashboard</span>
                <mat-icon class="sidenav-icon ml-50">home</mat-icon>
            </a>
            <div class="pd-10 expand-clr">
                <mat-nav-list>
                    <span home1>
                    <a class="pl-20"  mat-list-item routerLink="/leadgenerate">
                        <mat-icon  class="ml-10 sidenav-icon material-icons-outlined">home
                        </mat-icon>Lead Generate
                    </a>
                    <a class="pl-20"  mat-list-item routerLink="/lead">
                        <mat-icon  class="ml-10 sidenav-icon material-icons-outlined">home
                        </mat-icon>Lead List
                    </a>
                    </span>
                </mat-nav-list>
            </div>
        </div>
    </div>
</mat-nav-list>