<div class="content">
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4 lg-4">
              <a class="navbar-brand col-sm-2" routerLink="/lead">Project Managment Portal</a>
            </div>
            <div class="col-sm-4 lg-4">
                <div class="form-group">
                    <select name="Projects" class="form-control">
                        <option>----- Select Project -----</option>
                        <option>IT Information Technology</option>
                        <option>SAP Projects</option>

                    </select>
                </div>
            </div>
            <div class="col-sm-4 lg-4">
                <div class="form-group">
                    <select class="form-control">
                        <option>-- Select Project Manager --</option>
                    </select>
                </div>
            </div>
          </div>
          <!-- <div class="row">
            <div></div>
          </div> -->
        </div>
      </div>

      <div class="container">
        <div class="row">
        </div>
      </div>

      
</div>